{% extends "layout.html" %}
{% block title %}
    Change Password
{% endblock %}

{% block main %}
<form action = "/cpass" method = "post">
    <div class = "mb-3">
        <input name = "oldpass" type = "password" autocomplete="off"  placeholder = "Old Password">
    </div>

    <div class = "mb-3">
        <input name = "newpass" type = "password" autocomplete="off"  placeholder = "New Password">
    </div>
    <div class = "mb-3">
        <input name = "confirm" type = "password" autocomplete="off"  placeholder = "Confirm New Password">
    </div>

    <button type = "sumbit" class="btn btn-primary">Change Password</button>

</form>
{% endblock %}
