{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% block main %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
            {% for shi in bhai %}
            <tr>
                <td class="text-start">{{shi.symbol}}</td>
                <td class="text-end">{{shi.shares}}</td>
                <td class="text-end">{{$663.22}}</td>
                <td class="text-end">2024-08-16 07:18:56</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}
