{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}


{% main title %}
<table class="table">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">Transacted</th>
        </tr>
    </thead>
    <tbody>
            {% for }
            <tr>
                <td class="text-start">NFLX</td>
                <td class="text-end">12</td>
                <td class="text-end">$663.22</td>
                <td class="text-end">2024-08-16 07:18:56</td>
            </tr>

    </tbody>
</table>

{% endblock %}
